<!DOCTYPE html>
<html>
    <style>

</style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="vote.js"></script>



<body ng-app="App" ng-controller="voteCtrl">

<nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <ul class="nav navbar-nav navbar-right">
   <li class="active"><a href="#!adminpage">Home</a></li>   
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></a>
       <ul class="dropdown-menu">
          <li><a href="#!AddCan">ADD Candidates</a></li>
         <li><a href="#!CanView">View Candidates</a></li>
         <li><a href="#!ViewVote">View Voters</a></li>
           <li><a href="#!ViewVote">Add voters</a></li>
       </ul>
     </li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li> 
   </ul>
 </div>
</nav>

lsadkfjsklfhkjdsfh
<!--  <form>
  Select a topic:
  <select ng-model="myVar">
      <option value=""></option>
    <option value="pres">President</option>
    <option value="vice">Vice President</option>
    <option value="sec">Secretary</option>
  </select>
</form>
    <table ng-switch="myVar">
    <tr ng-switch-when="pres">
        <td>Name</td>
        <td>Vote</td>
        <td>Count</td>
    </tr>
     <tr ng-switch-when="pres">
        <td>Hannie Fielh Nakila</td>
         <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="pres">
        <td>Veah Ranario</td>
        <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="pres">
        <td>Ruby Anne Iranon</td>
             <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="pres">
        <td>Maria Amore</td>
             <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
            <tr ng-switch-when="vice">
         <td>Name</td>
        <td>Vote</td>
        <td>Count</td>
    </tr>
     <tr ng-switch-when="vice">
        <td>Marjun Curacha</td>
         <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="vice">
        <td>Justin Jemenez</td>
             <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="vice">
        <td>Bernard Alih</td>
             <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="vice">
        <td>Joshua Fuentes</td>
             <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
        
            <tr ng-switch-when="sec">
         <td>Name</td>
        <td>Vote</td>
        <td>Count</td>>
    </tr>
     <tr ng-switch-when="sec">
        <td>Laila delima</td>
          <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="sec">
        <td>Mikay Uy</td>
              <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="sec">
        <td>Gen Caumban</td>
              <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span>  </td>
    </tr>
         <tr ng-switch-when="sec">
        <td>Avie Joy Lloveras</td>
              <td><button ng-click="count= count = 1" ng-init="count = 0"> vote </button></td>
         <td><span> {{count}} </span></td>
    </tr>
        
    </table>  -->

<button ng-click="logout()" style="background-color: #4d90ef; color: white; width: 300px; height: 45px; margin-top: 13px;  font-size: 20px; border: none; border-radius: 2px;">Logout</button
</body>
</html>

