<!DOCTYPE html>
<html>
    <style>

</style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="vote.js"></script>



<body ng-app="App" ng-controller="myCtrl">

<nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <ul class="nav navbar-nav navbar-right">
   <li class="active"><a href="#!adminpage">Home</a></li>   
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#!AddCan">ADD Candidates</a></li>
         <li><a href="#!CanView">View Candidates</a></li>
         <li><a href="#!ViewVote">View Voters</a></li>
       </ul>
     </li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li> 
   </ul>
 </div>
</nav>
<center>
<div style="width: 900px; height: auto; margin-top: 5px; padding-top: 5px; padding-bottom: 20px; border-radius:  3px; box-shadow: 0px 2px 5px #888888;">

<center>
<div style="background-color: #eaebef; width: 800px; height: auto; margin-top: 30px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
    <thead>
        <tr>
            <th style="color: gray; font-family: Century Gothic; font-size: 20px; ">President</th>
            
        </tr>
    </thead>
</table>
    </form>
    </div></center>
<center>
<div style="width: 800px; height: auto; margin-top: 5px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
        <tr ng-repeat="c in dis | filter : {post : 'President'} ">
            <td scope="row"> {{ c.canfirst+ " "+ c.canmiddle+ " " + c.canlast }} </td>
        </tr>
</table>
    </form>
    </div></center>

<center>
<div style="background-color: #eaebef; width: 800px; height: auto; margin-top: 30px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
    <thead>
        <tr>
            <th style="color: gray; font-family: Century Gothic; font-size: 20px; ">Vice President</th>
            
        </tr>
    </thead>
</table>
    </form>
    </div></center>
<center>
<div style="width: 800px; height: auto; margin-top: 5px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
        <tr ng-repeat="c in dis | filter : {post : 'Vice'} ">
            <td scope="row"> {{ c.canfirst+ " "+ c.canmiddle+ " " + c.canlast }} </td>
        </tr>
</table>
    </form>
    </div></center>


<center>
<div style="background-color: #eaebef; width: 800px; height: auto; margin-top: 30px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
    <thead>
        <tr>
            <th style="color: gray; font-family: Century Gothic; font-size: 20px; ">Secretary</th>
            
        </tr>
    </thead>
</table>
    </form>
    </div></center>
<center>
<div style="width: 800px; height: auto; margin-top: 5px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
        <tr ng-repeat="c in dis | filter : {post : 'Secretary'} ">
            <td scope="row"> {{ c.canfirst+ " "+ c.canmiddle+ " " + c.canlast }} </td>
        </tr>
</table>
    </form>
    </div></center>

<center>
<div style="background-color: #eaebef; width: 800px; height: auto; margin-top: 30px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
    <thead>
        <tr>
            <th style="color: gray; font-family: Century Gothic; font-size: 20px; ">Treasurer</th>
            
        </tr>
    </thead>
</table>
    </form>
    </div></center>
<center>
<div style="width: 800px; height: auto; margin-top: 5px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
        <tr ng-repeat="c in dis | filter : {post : 'Treasurer'} ">
            <td scope="row"> {{ c.canfirst+ " "+ c.canmiddle+ " " + c.canlast }} </td>
        </tr>
</table>
    </form>
    </div></center>


<center>
<div style="background-color: #eaebef; width: 800px; height: auto; margin-top: 30px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
    <thead>
        <tr>
            <th style="color: gray; font-family: Century Gothic; font-size: 20px; ">Auditor</th>
            
        </tr>
    </thead>
</table>
    </form>
    </div></center>
<center>
<div style="width: 800px; height: auto; margin-top: 5px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
        <tr ng-repeat="c in dis | filter : {post : 'Auditor'} ">
            <td scope="row"> {{ c.canfirst+ " "+ c.canmiddle+ " " + c.canlast }} </td>
        </tr>
</table>
    </form>
    </div></center>


<center>
<div style="background-color: #eaebef; width: 800px; height: auto; margin-top: 30px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
    <thead>
        <tr>
            <th style="color: gray; font-family: Century Gothic; font-size: 20px; ">P.I.O</th>
            
        </tr>
    </thead>
</table>
    </form>
    </div></center>
<center>
<div style="width: 800px; height: auto; margin-top: 5px; border-radius: 3px; box-shadow: 0px 2px 5px #888888;">
    <form ng-controller="myCtrl" >
<table>
        <tr ng-repeat="c in dis | filter : {post : 'PIO'} ">
            <td scope="row"> {{ c.canfirst+ " "+ c.canmiddle+ " " + c.canlast }} </td>
        </tr>
</table>
    </form>
    </div></center>


</div></center>
</body>
</html>

